
.Nearby {

	display: flex;

	flex-direction: column;

}

/*#map {

	position: relative !important;

}*/
/*.map_wrapper {

	width: 100%;

	height: 500px;

	position: relative;

	margin-top: 100px;

}*/

.cardContainer {
  display: grid;

  grid-template-columns: 33% 33% 33%;

  padding: 20px;
}

.nr_event_wrapper {

	

	width: 100%;

	position: absolute;

	top: 500px;

	margin-top: 100px;


}